<div class="container">

    <header class="jumbotron bg-primary mt-4 p-4">
        <h1 class="display-3 text-center text-white">Task Manager</h1>
    </header>

    <main class="card">
        <div class="row no-gutters">
            <div class="col-lg-7 col-xl-8 border-right">
                <div class="card-body">
                    <h3 class="card-title">New Task</h3>
                    <hr>
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="New Task..." id="task-body"
                                    aria-label="New Task...">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary add-task" type="submit" id="submit">Add
                                        Task</button>
                                </div>
                                <div class="invalid-feedback">Field cannot be left blank.</div>
                            </div>
                        </div>
                    </form>
                    <ul class="list-group">
                        {{#each tasks}}
                            {{#unless completed}}
                                {{> tasks/task-item}}
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="col-lg side ">
                <div class="card-body">
                    <div class="card-title h3 d-flex justify-content-between">Completed Tasks
                        <button class="btn btn-outline-secondary p-1 clear-all">
                            Clear All
                        </button>
                    </div>
                    <hr>
                    <ul class="list-group list-group-flush" id="completed-list">
                        {{#each tasks}}
                            {{#if completed}}
                                {{> tasks/task-complete}}
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </main>

</div>